#map {
    height: 100%;
    margin: 0 auto
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.scrollable {
    height: 500px;
    overflow: scroll
}

th {
    position: sticky;
    top: 0;
    table-layout: fixed;
}